* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  margin: 0;
  font-family: sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: center;
}
.container {
  position: relative;
  display: flex;
  align-items: center;
  top: 250px;
  justify-content: center;
  flex-direction: column;
  border-radius: 12px;
  width: 350px;
  height: 350px;
  border: 2px solid rgb(185, 255, 93);
  background-color: rgb(185 255 93/0.2);
  box-shadow: 4px 4px 8px rgb(185, 255, 93);
}

.box1 {
  display: flex;
  justify-content: center;
  width: 300px;
  padding-left: 8px;
  padding-right: 8px;
  height: 50px;
  background-color: azure;
  border: 2px solid rgb(185, 255, 93);
  color: rgb(255, 2, 154);
  border-radius: 10px;
}
.textLength {
  display: flex;
  width: 300px;
  color: rgb(255, 2, 154);
}
.box2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 300px;
  height: 50px;
  border-radius: 10px;
  background-color: azure;
  border: 2px solid rgb(185, 255, 93);
}

.rangeCss {
  width: 200px;
  height: 5px;
  accent-color: rgb(255, 2, 154);
}

.accentText {
  color: rgb(255, 2, 154);
}
.generatePas {
  margin-top: 30px;
  width: 300px;
  height: 50px;
  border-radius: 8px;
  background-color: azure;
  border: 2px solid rgb(185, 255, 93);
  color: rgb(255, 2, 154);
  font-weight: 600;
}
